<template>
  <q-input
    class="full-width"
    :model-value="text"
    @update:model-value="(value) => $emit('update', value)"
    :="$attrs"
    outlined
    :label="label"
  />
</template>

<script setup>
defineEmits(["update"]);
defineOptions({ inheritAttrs: false });
defineProps({
  text: {
    type: String,
    required: false,
  },
  label: {
    type: String,
    required: false,
    default: "",
  },
});
</script>
