<template>
  <div class="full-width">
    <div>{{ label }}</div>
    <q-input
      class="full-width"
      :model-value="text"
      @update:model-value="(value) => $emit('update', value)"
      outlined
      :="$attrs"
      type="textarea"
      :counter="counterText"
      :maxlength="maxLength"
    />
  </div>
</template>

<script setup>
defineEmits(["update"]);
defineOptions({ inheritAttrs: false });
defineProps({
  text: {
    type: String,
    required: false,
  },
  counterText: {
    type: Boolean,
    required: false,
    default: false,
  },
  maxLength: {
    type: Number,
    required: false,
    default: 100,
  },
  label: {
    type: String,
    required: false,
    default: "",
  },
  height: {
    type: String,
    required: false,
    default: "200px",
  },
});
</script>

<style>
textarea {
  resize: none !important;
}
</style>
