<template>
  <q-page class="flex flex-center full-height full-width bg-gray-theme">
    <div class="background flex flex-center">
      <q-card
        dark
        bordered
        class="bg-white rounded bordered my-card"
        :class="[$q.screen.lt.md ? 'mobileCard' : 'card']"
      >
        <div class="column justify-between full-height full-width items-center">
          <div class="col-1 full-width">
            <q-card-section
              class="column flex-center q-space text-black relative-position"
            >
              <div :class="[!$q.screen.lt.sm ? 'text-h4' : 'text-h5']">
                {{ route?.params?.id ? "Edit Movie" : "Add Movies" }}
              </div>
              <q-icon
                v-if="!$q.screen.lt.sm"
                @click="$router.replace({ name: 'home' })"
                class="closeIcon cursor-pointer"
                name="cancel"
                size="lg"
                color="red"
              />
            </q-card-section>
            <q-separator inset black />
          </div>
          <q-card-section
            class="column flex-center q-space text-black justify-around full-width"
            :class="[$q.screen.lt.sm ? 'col-8' : 'col-9']"
          >
            <AddListForm ref="form" />
          </q-card-section>
          <q-card-actions
            class="flex full-width q-pa-none"
            :class="[
              $q.screen.lt.sm
                ? route?.params?.id
                  ? 'col-3 flex-center'
                  : 'flex-center col-2'
                : 'q-pr-lg justify-end col-2',
            ]"
          >
            <q-btn
              :padding="'10px 7px'"
              :class="[$q.screen.lt.sm ? 'full-width q-mb-md' : '']"
              @click="deleteMovie"
              v-if="route?.params?.id"
              color="negative"
              >Delete</q-btn
            >
            <q-btn
              :class="[$q.screen.lt.sm ? 'full-width q-mb-md' : '']"
              :padding="'10px 7px'"
              v-if="route?.params?.id"
              @click="updateMovie"
              color="primary"
            >
              Update
            </q-btn>
            <q-btn
              :class="[$q.screen.lt.sm ? 'full-width q-mb-md' : '']"
              :padding="'10px 7px'"
              v-else
              @click="addMovie"
              color="primary"
            >
              Create
            </q-btn>
            <q-btn
              class="full-width q-mb-md text-black"
              :padding="'10px 7px'"
              v-if="$q.screen.lt.sm"
              @click="$router.replace({ name: 'home' })"
              color="warning"
            >
              Back
            </q-btn>
          </q-card-actions>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script setup>
import { useMovieStore } from "stores/store";
import AddListForm from "src/components/AddListForm.vue";
import { ref, onMounted } from "vue";
import { useQuasar } from "quasar";
import { useRouter, useRoute } from "vue-router";
const router = useRouter();
const route = useRoute();
const $q = useQuasar();
const movieStore = useMovieStore();
const form = ref(null);
onMounted(() => {
  if (route?.params?.id) {
    form.value.setValue(movieStore.getMovie(route.params.id));
  }
});
async function addMovie() {
  const result = await form.value.getAndValidateData();
  if (result) {
    movieStore.addList(result);
    $q.notify({
      message: "Movie has been save",
      color: "green",
    });
    router.replace({ name: "home" });
  }
}
function deleteMovie() {
  movieStore.deleteMovie(route?.params?.id);
  $q.notify({
    message: "Movie has been Deleted",
    color: "green",
  });
  router.replace({ name: "home" });
}
async function updateMovie() {
  const result = await form.value.getAndValidateData();
  if (result) {
    movieStore.updateMovie(result);
    $q.notify({
      message: "Movie has been update",
      color: "green",
    });
    router.replace({ name: "home" });
  }
}
</script>

<style lang="scss" scoped>
.bg-gray-theme {
  background: $grayTheme !important;
}
.card {
  height: 80vh;
  width: 80%;
}
.mobileCard {
  height: 94vh;
  width: 100%;
}
.background {
  min-height: inherit;
  min-width: 100%;
}
.closeIcon {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
</style>
