<template>
  <q-page class="row justify-around bg-gray-theme">
    <article
      v-if="!$q.screen.lt.md"
      class="column flex justify-start items-center col q-mt-xl"
    >
      <StatusCard />
    </article>
    <article class="column flex justify-start items-center col">
      <q-input
        color="blue"
        bg-color="white"
        class="q-mt-md full-width"
        :class="[$q.screen.lt.sm ? 'search-bar-sm' : 'search-bar']"
        filled
        v-model="searchTitle"
        label="Search Title"
      />
      <template v-if="showListMovie.length > 0">
        <CardContainer
          v-for="(movie, index) in showListMovie"
          :key="index"
          :detail-movie="movie"
        />
      </template>
      <div v-else-if="searchTitle.length > 0" class="text-h6 q-mt-lg">
        Search has no result
      </div>
      <div v-else class="text-h6 q-mt-lg">Please add movie first</div>
    </article>
    <article
      v-if="!$q.screen.lt.md"
      class="column flex justify-start items-center col q-mt-xl"
    >
      <CreateCard />
    </article>
    <q-page-sticky
      v-if="$q.screen.lt.md"
      position="bottom-right"
      :offset="[18, 18]"
    >
      <q-btn
        @click="$router.push({ name: 'addList' })"
        fab
        icon="add"
        color="accent"
      />
    </q-page-sticky>
  </q-page>
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
import CardContainer from "components/CardContainer.vue";
import StatusCard from "components/StatusCard.vue";
import CreateCard from "components/CreateCard.vue";
import { useMovieStore } from "src/stores/store";
import { useQuasar } from "quasar";

const $q = useQuasar();
const movieStore = useMovieStore();
const searchTitle = ref("");
const listMovie = ref([]);
onMounted(() => {
  listMovie.value = movieStore.listMovie;
});
const showListMovie = computed(() => {
  if (searchTitle.value.length > 0) {
    return listMovie.value.filter((movie) =>
      movie.title.toLowerCase().includes(searchTitle.value.toLowerCase())
    );
  } else {
    return listMovie.value;
  }
});
</script>

<style lang="scss" scoped>
.bg-gray-theme {
  background: $grayTheme !important;
}

.search-bar {
  max-width: 350px;
}
.search-bar-sm {
  max-width: 250px;
}
</style>
