<template>
  <q-form
    autofocus
    ref="form"
    class="full-width full-height column flex-center"
  >
    <div class="col-2 full-width">
      <TextInput
        :rules="[
          (val) => (val && val.length > 0) || 'Title must be filled in.',
        ]"
        :text="formState.title"
        @update="(value) => (formState.title = value)"
        :label="'Movie Title'"
      />
    </div>
    <div class="col-2 full-width">
      <TextInput
        :text="formState.director"
        @update="(value) => (formState.director = value)"
        :label="'Movie Director'"
        :rules="[
          (val) => (val && val.length > 0) || 'Director must be filled in.',
        ]"
      />
    </div>
    <div class="col-4 full-width">
      <TextArea
        :text="formState.summary"
        @update="(value) => (formState.summary = value)"
        label="Summary"
        :max-length="100"
        :counter-text="true"
        :rules="[
          (val) => (val && val.length > 0) || 'Summary must be filled in.',
        ]"
      />
    </div>
    <div class="q-pa-md col column justify-around">
      <div
        class="flex"
        :class="[$q.screen.lt.sm ? 'text-h6' : 'text-h5 flex-center']"
      >
        Genre
      </div>
      <div class="q-gutter-xs">
        <q-chip
          v-for="({ title, value }, index) in listGenre"
          :key="index"
          @click="isChipError = false"
          v-model:selected="formState.genres[value]"
          color="primary"
          text-color="white"
          :label="title"
          :class="[formState.genres[value] ? '' : 'q-ml-lg']"
        >
        </q-chip>
      </div>
      <div
        v-if="isChipError"
        class="text-red flex flex-center"
        :class="[$q.screen.lt.sm ? 'text-subtitle2' : 'text-subtitle1']"
      >
        at least pick one genre of film
      </div>
    </div>
  </q-form>
</template>

<script setup>
import { ref, reactive, defineExpose } from "vue";
import TextInput from "components/input/TextInput.vue";
import TextArea from "components/input/TextArea.vue";
import { idGenerator } from "components/helper/index";
import { useQuasar } from "quasar";

defineExpose({
  setValue,
  getAndValidateData,
});
const $q = useQuasar();
const form = ref(null);
const listGenre = [
  { title: "Drama", value: "drama" },
  { title: "Action", value: "action" },
  { title: "Animation", value: "animation" },
  { title: "Sci-Fi", value: "scifi" },
  { title: "Horror", value: "horror" },
];
const formState = reactive({
  id: "",
  title: "",
  director: "",
  summary: "",
  genres: {
    drama: false,
    action: false,
    animation: false,
    scifi: false,
    horror: false,
  },
});
const isChipError = ref(false);

function setValue(movie) {
  formState.title = movie.title;
  formState.id = movie.id;
  formState.director = movie.director;
  formState.summary = movie.summary;
  for (let i of movie.genre) {
    formState.genres[listGenre.find((value) => value.title === i).value] = true;
  }
}

async function getAndValidateData() {
  if (
    (await form.value.validate()) &&
    Object.entries(formState.genres).some(([key, value]) => value)
  ) {
    isChipError.value = false;
    const asArray = Object.entries(formState.genres);
    const filtered = [],
      final = [];
    for (let i of asArray.filter(([key, value]) => value)) {
      filtered.push(i[0]);
    }

    filtered.forEach((value) =>
      final.push(listGenre.find((genre) => genre.value === value).title)
    );
    const result = {
      id: formState.id ? formState.id : idGenerator(),
      title: formState.title,
      director: formState.director,
      summary: formState.summary,
      genre: final,
    };

    return result;
  } else {
    if (!Object.entries(formState.genres).some(([key, value]) => value))
      isChipError.value = true;
    return false;
  }
}
</script>

<style scoped></style>
