<template>
  <q-card
    @click="editMovie"
    dark
    bordered
    class="bg-white card q-my-md cursor-pointer text-black"
    :class="[$q.screen.lt.sm ? 'card-xs' : 'card']"
  >
    <div class="column full-height">
      <q-card-section class="col full-width">
        <div class="text-h6 q-mb-md">
          <span class="elipsis">
            {{ detailMovie.title }}
          </span>
          <q-tooltip> {{ detailMovie.title }} </q-tooltip>
        </div>
        <div class="text-subtitle2">
          <span class="elipsis">
            {{ detailMovie.director }}
          </span>
          <q-tooltip> {{ detailMovie.director }} </q-tooltip>
        </div>
      </q-card-section>

      <q-card-section class="flex justify-end col items-center">
        <p>
          <template v-for="(genre, index) in detailMovie.genre" :key="index">
            <span>{{ genre }}</span>
            <span v-if="index != detailMovie.genre.length - 1"> / </span>
          </template>
        </p>
      </q-card-section>
    </div>
  </q-card>
</template>
<script setup>
import { defineProps } from "vue";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";

const $q = useQuasar();
const router = useRouter();
const props = defineProps({
  detailMovie: {
    required: true,
    type: Object,
  },
});
function editMovie() {
  router.replace({ name: "editList", params: { id: props.detailMovie.id } });
}
</script>

<style scoped>
.card {
  width: 100%;
  max-width: 350px;
}

.card-xs {
  width: 80%;
  max-width: 250px;
}

.elipsis {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
</style>
