<template>
  <q-card
    dark
    bordered
    class="bg-white q-my-md text-black"
    :class="[$q.screen.lt.lg ? 'card-lg' : 'card']"
  >
    <q-card-section class="column flex-center full-height full-width q-space">
      <div class="text-h6 text-center col flex-center flex">
        Lets Add Movies
      </div>
      <div class="buttonContainer col">
        <q-btn
          @click="$router.push({ name: 'addList' })"
          color="primary"
          label="Add Movie"
          size="lg"
          rounded
          push
          glossy
        />
      </div>
    </q-card-section>
  </q-card>
</template>

<script setup>
// router.replace({ name: "addList" });
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  max-width: 350px;
  height: 200px;
}

.card-lg {
  width: 80%;
  max-width: 250px;
  height: 200px;
}
</style>
