<template>
  <q-card
    dark
    bordered
    class="bg-white card q-my-md text-black"
    :class="[$q.screen.lt.lg ? 'card-lg' : 'card']"
  >
    <q-card-section>
      <div class="text-h6">Info Movies</div>
      <div
        class="text-subtitle2"
        v-for="(info, index) in listInfo"
        :key="index"
      >
        {{ info }} movie : {{ movieStore.getCounter(info) }}
      </div>
    </q-card-section>
  </q-card>
</template>

<script setup>
import { useMovieStore } from "src/stores/store";
import { useQuasar } from "quasar";

const $q = useQuasar();

const movieStore = useMovieStore();
const listInfo = ["Total", "Drama", "Action", "Animation", "Sci-Fi", "Horror"];
</script>

<style scoped>
.card {
  width: 100%;
  max-width: 350px;
}

.card-lg {
  width: 80%;
  max-width: 250px;
}
</style>
