<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated height-hint="20">
      <q-toolbar class="bg-primary glossy text-white">
        <q-toolbar-title>
          <div class="text-center">Movies Collection</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container class="window-width">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script></script>
